<a href="https://colab.research.google.com/github/yagnasivasai/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
numbers = [10,20,30]
pd.Series(numbers)

0    10
1    20
2    30
dtype: int64

In [ ]:
import pandas as pd

In [ ]:
prices = pd.Series([1.9,2.6,3.1])
prices

0    1.9
1    2.6
2    3.1
dtype: float64

In [ ]:
prices.abs()

0    1.9
1    2.6
2    3.1
dtype: float64

In [ ]:
prices.sum()

7.6

In [ ]:
prices.product()

15.313999999999998

In [ ]:
prices.mean()

2.533333333333333